<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Triatlon a Fondo</title>
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/harcamtriatlon/css/TF.css') }}"/>
</head>
<body>

<!-- start .container -->
<div class="container">

<!-- start .header -->
<div class="header">

    <div class="Navbar">
       <nav class="menu">
            <a href="{{ path('harcam_triatlon_home') }}"><img src="{{ asset('bundles/harcamtriatlon/img/TFLogoONBLACK.png') }}" height="50px" id="logo"/></a>
            <a href="{{ path('harcam_triatlon_page', {'page':'trainers'}) }}">Entrenadores</a>
            <a href="{{ path('harcam_triatlon_page', {'page':'timetable'}) }}">Horarios</a>
            <a href="{{ path('harcam_triatlon_page', {'page':'prices'}) }}">Costos</a>
            <a href="{{ path('harcam_triatlon_page', {'page':'gallery'}) }}">Galeria</a>
            <a href="{{ path('harcam_triatlon_page', {'page':'contact'}) }}">Contacto</a>
       </nav> 
    </div>
</div>
<!-- end .header -->
