<!-- start .sidebar -->

<div class="sidebar">
    <div id="tritan"><a href=""><img src="{{ asset('bundles/harcamtriatlon/img/TritanesLogoPage.jpg') }}" width="150px"/></a></div>
    <div id="registro"><a href="">Registro Triatlón Tritanes</a></div>
    <div id="triatlonlogo"><a href=""><img src="{{ asset('bundles/harcamtriatlon/img/TT_BLANCO.jpg') }}" width="150px"/></a></div>
    <div id="facebook"><a href="https://www.facebook.com/Tritanes?fref=ts" target="_blank">facebook</a></div>
    <div id="twitter"><a href="https://twitter.com/tritanestec" target="_blank">twitter</a></div>
    <div id="patrocinadores">Nuestros patrocinadores</div>
    <div id="therak"><a href="http://www.therak.com.mx" target="_blank"><img src="{{ asset('bundles/harcamtriatlon/img/therak.jpg') }}" width="150px"/></a></div>
    <div id="intensity"><a href="https://www.facebook.com/IntensityNDA?fref=ts" target="_blank"><img src="{{ asset('bundles/harcamtriatlon/img/intensity.jpg') }}" width="150px"/></a></div>
    <div id="trifoto"><a href="http://www.trifoto.mx/" target="_blank"><img src="{{ asset('bundles/harcamtriatlon/img/Trifoto.jpg') }}" width="150px" /></a></div>
    
</div>
<!-- end .sidebar -->


{# {{ path('harcam_triatlon_signup') }} #}