<!-- start .sidebar -->
<div class="sidebar1">
    <ul class="nav">
        <li><a href="{{ path('harcam_triatlon_home') }}">Inicio</a></li>
        <li><a href="{{ path('harcam_triatlon_page', {'page':'trainers'}) }}">Entrenadores</a></li>
        <li><a href="{{ path('harcam_triatlon_page', {'page':'timetable'}) }}">Horarios</a></li>
        <li><a href="{{ path('harcam_triatlon_signup') }}">Triatlón Tritanes</a></li>
        <li><a href="{{ path('harcam_triatlon_page', {'page':'prices'}) }}">Costos</a></li>
        <li><a href="{{ path('harcam_triatlon_page', {'page':'gallery'}) }}">Galería</a></li>
        <li><a href="{{ path('harcam_triatlon_page', {'page':'contact'}) }}">Contacto</a></li>
    </ul>
    <div><a href="https://www.facebook.com/Tritanes?fref=ts" target="_blank">
            <img src="{{ asset('bundles/harcamtriatlon/img/facebooklogo.png') }}" width=60px height=60px/></a>
        <a href="https://twitter.com/tritanestec" target="_blank">
            <img src="{{ asset('bundles/harcamtriatlon/img/twitterlogo.png') }}" width=60px height=60px/></a>
    </div>
    <div id="tritanes">
        <img src="{{ asset('bundles/harcamtriatlon/img/Logotipo Tritanes.png') }}" />
    </div>
    <div id="triatlon">
        <img src="{{ asset('bundles/harcamtriatlon/img/TT_AZUL.jpg') }}" />
    </div>
</div>
<!-- end .sidebar -->