{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">

    <div>
        <h1>Bienvenido a Triatlón a Fondo</h1>
    </div>

    <div>
        <a><img src="{{ asset('bundles/harcamtriatlon/img/BannerConvocatoria.jpg') }}"></img></a>
    </div>
    <div>
        <img src="{{ asset('bundles/harcamtriatlon/img/Banner-Triatlón-Tritanes.jpg') }}"></img>
    </div>

    <h4>Triatlón Tritanes</h4>
    <p>Próximamente tendremos información para el triatlón tritanes, !Espéralo!</p>

</div>
<!-- end .content -->

{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}