{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">

    <div>
        <h1>Bienvenido a Triatlón a Fondo</h1>
    </div>
 <div>
    <p class="emergencia">Atención: Después de revisar posibilidades para realizar el evento
    se ha designado la fecha del 13 de Julio para su realización!! Lamentamos la tardanza en ésta decisión,
     lo cual se ha dado para que la realización del evento sea optima.</p>
    
 </div>
    <div>
        <a href="{{ asset('bundles/harcamtriatlon/img/ConvocatoriaFinal.pdf') }}"><img class="contentImage" src="{{ asset('bundles/harcamtriatlon/img/BannerConvocatoria.jpg') }}"></img></a>
    </div>
<div>
    <iframe class="contentImage" width="560" height="315" src="//www.youtube.com/embed/U0WnBLS1Ftk" frameborder="0" allowfullscreen align="center"></iframe>
</div>
    <div>
        <img class="contentImage" src="{{ asset('bundles/harcamtriatlon/img/BannerTriatlon.jpg') }}"></img>
    </div>
</div>
<!-- end .content -->

{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}