{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">

    <div>
        <h1>Bienvenido a Triatlón a Fondo</h1>
    </div>

    <div>
        <a href="{{ asset('bundles/harcamtriatlon/img/Convocatoria.pdf') }}"><img src="{{ asset('bundles/harcamtriatlon/img/BannerConvocatoria.jpg') }}"></img></a>
    </div>
    <div>
        <img src="{{ asset('bundles/harcamtriatlon/img/BannerTriatlon.jpg') }}"></img>
    </div>
</div>
<!-- end .content -->

{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}