<html>
<body style="font-family:sans-serif">

<h2>Hola {{ client.name }}!</h2>

<p>Recibimos tu solicitud de registro, para continuar es necesario que realices el pago mediante PayPal.</p>

<h3>Tu Información de Registro</h3>
<p>Por favor revisa que tus datos sean correctos
    <ul style="list-style-type: none">
        <li><strong>Nombre(s):</strong> {{ client.name }}</li>
        <li><strong>Apellidos(s):</strong> {{ client.lastName }}</li>
        <li><strong>Fecha de Nacimiento:</strong> {{ client.birthDate }}</li>
        <li><strong>Email:</strong> {{ client.email }}</li>
        <li><strong>Categoría:</strong> {{ client.category }} - {{ client.getCategoryName }}</li>
        <li><strong>Equipo:</strong> {% if client.team %}{{ client.team }}{% else %}<i>No especificado</i>{% endif %}</li>
        <li><strong>Tiempo en 100m:</strong> {% if client.swimTime %}{{ client.swimTime }} segundos{% else %}<i>No especificado</i>{% endif %}</li>
        <li><strong>Teléfono:</strong> {% if client.phoneNumber %}{{ client.phoneNumber }}{% else %}<i>No especificado</i>{% endif %}</li>
        <li><strong>Numero de Afiliación (FMTRI):</strong> {% if client.FMTRI %}{{ client.FMTRI }}{% else %}<i>No especificado</i>{% endif %}</li>
    </ul>
</p>

<h3>Pago</h3>
<p>Si ya realizaste el pago puedes hacer caso omiso a esta sección. Si aún no has realizado
    el pago de inscripción puedes hacerlo mediante el siguiente botón de PayPal:<br/>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="9S6TD9J4WCDXC">
            <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

</p>
<br/>
<p>En caso de no recibir respuesta y/o confirmación del pago en 48 horas, por favor escribe a <a href="mailto:tritanes@gmail.com">tritanes@gmail.com</a>
para verificar el status de tu inscripción.</p>

<p>Gracias,<br/>
El equipo Tritanes.</p>

</body>
</html>