Hola {{ client.name }}!

Recibimos tu solicitud de registro, para continuar

<h3>Tu Información de Registro</h3>
Por favor revisa que tus datos sean correctos
Nombre(s): {{ client.name }}
Apellidos: {{ client.lastName }}

<h3>Instrucciones</h3>
Para el registro del triatlón Tritanes, sigue los siguientes pasos:
1.- Llena los datos solicitados en el siguiente formulario. Recuerda que tu número de afiliación a la FMTRI (Federación Mexicana de Triatlón) consta de 11 dígitos.
2.- Presiona “Registrar” y en poco tiempo recibirás un correo de confirmación con tus datos.
3.- Realiza el pago en cualquier tienda OXXO, o directamente en bancos SANTANDER(Presencial o Transferencia) a la cuenta:

	No Cuenta: 2000842671
	CLABE: 014580200084262714
	
Es importante que guardes los datos de la transacción:

		a)Santander: Número de referencia de pago (tanto en depósito como en transferencia electrónica)
		b)OXXO: Folio de Venta y Autorización

4.-Entra en la página de triatlonafondo.com a la sección Confirmar Pago, que se encuentra en Triatlón Tritanes del menú principal y proporciona los siguientes datos:
		-Email usado en el registro
		-Tipo de pago (Transferencia, Depósito, Pago en Oxxo)
		-Número de autorización (Sólo para Oxxo)
		-Número de Folio de venta (Sólo para Oxxo)
		-Referencia de pago (Depósito o Transferencia)

5.- En el transcurso de unos días recibirás un correo de confirmación con tu número de competidor.



Para continuar con el proceso haz click en el link
<a href="{{ link }}" target="_blank">{{ link }}</a>


Gracias,
El equipo Tritanes.