<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administrador de Registro</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Registro Tritanes</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Todos</a></li>
                <li><a href="#about">Pagados</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('logout') }}">
                        <span class="glyphicon glyphicon-off"></span>
                    </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="container">

    <h1>{{ client.clientId }}: {{ client.getFullName() }}</h1>
    <h4><a href="{{ path('harcam_triatlon_admin_client_edit', {'id': client.clientId}) }}"></a>[edit]</h4>

    <form class="form-horizontal" method="POST"
          action="{{ path('harcam_triatlon_admin_client_edit_process', {'id': client.clientId}) }}">
        <h3>General Information</h3>

        <div class="form-group">
            <label for="name" class="col-md-2 control-label">Name</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="name" value="{{ client.name }}">
                {% else %}
                    <p class="form-control-static">{{ client.name }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's first name</small>
                </p>
            </div>
        </div>
            
        <div class="form-group">
            <label for="lastName" class="col-md-2 control-label">Last Name</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="lastName" name="lastName"
                           placeholder="lastName" value="{{ client.lastName }}">
                {% else %}
                    <p class="form-control-static">{{ client.lastName }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's last name</small>
                </p>
            </div>
        </div>
            
        <div class="form-group">
            <label for="category" class="col-md-2 control-label">Category</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="category" name="category"
                           placeholder="category" value="{{ client.category }}">
                {% else %}
                    <p class="form-control-static">{{ client.category }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's category</small>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="team" class="col-md-2 control-label">Team</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="team" name="team"
                           placeholder="team" value="{{ client.team }}">
                {% else %}
                    <p class="form-control-static">{{ client.team }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's team</small>
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="phoneNumber" class="col-md-2 control-label">Phone Number</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                           placeholder="phoneNumber" value="{{ client.phoneNumber }}">
                {% else %}
                    <p class="form-control-static">{{ client.phoneNumber }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's phone number</small>
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="email" class="col-md-2 control-label">Email</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="email" name="email"
                           placeholder="email" value="{{ client.email }}">
                {% else %}
                    <p class="form-control-static">{{ client.email }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's email</small>
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="swimTime" class="col-md-2 control-label">Swim Time</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="swimTime" name="swimTime"
                           placeholder="swimTime" value="{{ client.swimTime }}">
                {% else %}
                    <p class="form-control-static">{{ client.swimTime }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's swim time</small>
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="hasPayed" class="col-md-2 control-label">Has Payed</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="hasPayed" name="hasPayed"
                           placeholder="hasPayed" value="{{ client.hasPayed }}">
                {% else %}
                    <p class="form-control-static">{{ client.hasPayed }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's payment status</small>
                </p>
            </div>
        </div>
            
        <div class="form-group">
            <label for="birthDate" class="col-md-2 control-label">BirthDate</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="birthDate" name="birthDate"
                           placeholder="birthDate" value="{{ client.birthDate }}">
                {% else %}
                    <p class="form-control-static">{{ client.birthDate }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's Birth Date</small>
                </p>
            </div>
        </div>
        
        <h3>Payment Information</h3>

        {% if mode == 'edit' %}
            <div class="form-group">
                <input type="hidden" name="clientId" value="{{ client.clientId }}"/>

                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save changes!</button>
                </div>
            </div>
        {% endif %}
    </form>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>


