<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administrador de Registro</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Registro Tritanes</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('harcam_triatlon_admin_client_list') }}">All</a></li>
                <li><a href="{{ path('harcam_triatlon_admin_client_filter', {"mode": 'paid'}) }}">Paid</a></li>
                <li><a href="{{ path('harcam_triatlon_admin_client_filter', {"mode": 'unpaid'}) }}">Unpaid</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('logout') }}">
                        <span class="glyphicon glyphicon-off"></span>
                    </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="container">

    <h1>{{ client.clientId }}: {{ client.getFullName() }}
        <small><a href="{{ path('harcam_triatlon_admin_client_edit', {'id': client.clientId}) }}">[edit]</a></small>
    </h1>

    {% if msg is defined %}
    <div class="alert alert-success">{{ msg|raw }}</div>
    {% endif %}

    <form class="form-horizontal" method="POST"
          action="{{ path('harcam_triatlon_admin_client_edit_process', {'id': client.clientId}) }}">
        <h3>General Information</h3>

        <div class="form-group">
            <label for="name" class="col-md-2 control-label">Name</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="name" name="name"
                           placeholder="name" value="{{ client.name }}">
                {% else %}
                    <p class="form-control-static">{{ client.name }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's first name</small>
                </p>
            </div>
        </div>
            
        <div class="form-group">
            <label for="lastName" class="col-md-2 control-label">Last Name</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="lastName" name="lastName"
                           placeholder="lastName" value="{{ client.lastName }}">
                {% else %}
                    <p class="form-control-static">{{ client.lastName }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's last name</small>
                </p>
            </div>
        </div>
            
        <div class="form-group">
            <label for="category" class="col-md-2 control-label">Category</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <select id="category" name="category">
                        <option value="">- Selecciona una categoría -</option>
                        <option value="IF" {% if client.category == 'IF' %}selected{% endif %}
                                >Femenil 14 a 15 años</option>
                        <option value="JF" {% if client.category == 'JF' %}selected{% endif %}
                                >Femenil 16 a 19 años</option>
                        <option value="N" {% if client.category == 'N' %}selected{% endif %}
                                >Femenil 20 a 24 años</option>
                        <option value="O" {% if client.category == 'O' %}selected{% endif %}
                                >Femenil 25 a 29 años</option>
                        <option value="P" {% if client.category == 'P' %}selected{% endif %}
                                >Femenil 30 a 34 años</option>
                        <option value="Q" {% if client.category == 'Q' %}selected{% endif %}
                                >Femenil 35 a 39 años</option>
                        <option value="R" {% if client.category == 'R' %}selected{% endif %}
                                >Femenil 40 a 44 años</option>
                        <option value="S" {% if client.category == 'S' %}selected{% endif %}
                                >Femenil 45 a 49 años</option>
                        <option value="T" {% if client.category == 'T' %}selected{% endif %}
                                >Femenil 50 a 54 años</option>
                        <option value="V" {% if client.category == 'V' %}selected{% endif %}
                                >Femenil 55 a 59 años</option>
                        <option value="IC" {% if client.category == 'IC' %}selected{% endif %}
                                >Varonil 14 a 15 años</option>
                        <option value="JV" {% if client.category == 'JV' %}selected{% endif %}
                                >Varonil 16 a 19 años</option>
                        <option value="A" {% if client.category == 'A' %}selected{% endif %}
                                >Varonil 20 a 24 años</option>
                        <option value="B" {% if client.category == 'B' %}selected{% endif %}
                                >Varonil 25 a 29 años</option>
                        <option value="C" {% if client.category == 'C' %}selected{% endif %}
                                >Varonil 30 a 34 años</option>
                        <option value="D" {% if client.category == 'D' %}selected{% endif %}
                                >Varonil 35 a 39 años</option>
                        <option value="E" {% if client.category == 'E' %}selected{% endif %}
                                >Varonil 40 a 44 años</option>
                        <option value="F" {% if client.category == 'F' %}selected{% endif %}
                                >Varonil 45 a 49 años</option>
                        <option value="G" {% if client.category == 'G' %}selected{% endif %}
                                >Varonil 50 a 55 años</option>
                        <option value="H" {% if client.category == 'H' %}selected{% endif %}
                                >Varonil 55 a 59</option>
                        <option value="I" {% if client.category == 'H' %}selected{% endif %}
                                >Varonil 60 y mayores</option>
                    </select>
                {% else %}
                    <p class="form-control-static">{{ client.category }} - {{ client.getCategoryName() }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's category</small>
                </p>
            </div>
        </div>

        <div class="form-group">
            <label for="team" class="col-md-2 control-label">Team</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="team" name="team"
                           placeholder="team" value="{{ client.team }}">
                {% else %}
                    <p class="form-control-static">{{ client.team }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's team</small>
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="phoneNumber" class="col-md-2 control-label">Phone Number</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                           placeholder="phoneNumber" value="{{ client.phoneNumber }}">
                {% else %}
                    <p class="form-control-static">{{ client.phoneNumber }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's phone number</small>
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="email" class="col-md-2 control-label">Email</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="email" name="email"
                           placeholder="email" value="{{ client.email }}">
                {% else %}
                    <p class="form-control-static">{{ client.email }}
                        &nbsp;&nbsp;<a href="mailto:{{ client.email }}">[send email]</a></p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's email</small>
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="swimTime" class="col-md-2 control-label">Swim Time</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="swimTime" name="swimTime"
                           placeholder="mm:ss" value="{{ client.swimTime }}">
                {% else %}
                    <p class="form-control-static">{{ client.swimTime }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's swim time</small>
                </p>
            </div>
        </div>
            
        <div class="form-group">
            <label for="birthDate" class="col-md-2 control-label">BirthDate</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="birthDate" name="birthDate"
                           placeholder="dd/mm/yyyy" value="{{ client.birthDate }}">
                {% else %}
                    <p class="form-control-static">{{ client.birthDate }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's Birth Date</small>
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <label for="Affiliation" class="col-md-2 control-label">Afiliación FMTRI</label>

            <div class="col-md-6">
                {% if mode == 'edit' %}
                    <input type="text" class="form-control" id="Affiliation" name="Affiliation"
                           placeholder="Affiliation" value="{{ client.Affiliation }}">
                {% else %}
                    <p class="form-control-static">{{ client.Affiliation }}</p>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Client's FMTRI number</small>
                </p>
            </div>
        </div>

        <hr>

        {% if mode == 'view' %}
        </form>

        <form class="form-horizontal" method="POST"
          action="{{ path('harcam_triatlon_admin_client_register_payment', {'id': client.clientId}) }}">

        <h3>Payment Information</h3>

        <div class="form-group">
            <label for="birthDate" class="col-md-2 control-label">Has Paid?</label>

            <div class="col-md-6">
                {% if client.hasPayed %}
                    <span class="label label-success">Yes</span> [Reference: {{ client.paymentReference }}]
                {% else %}
                    <span class="label label-danger">No</span>
                {% endif %}
            </div>
            <div class="col-md-4">
                <p class="form-control-static">
                    <small>Has client paid?</small>
                </p>
            </div>
        </div>

            {% if not client.hasPayed %}
            <div class="form-group">
                <label for="birthDate" class="col-md-2 control-label">Payment Reference</label>

                <div class="col-md-6">
                    <input type="text" class="form-control" id="paymentReference" name="paymentReference"
                         placeholder="Payment Reference">
                </div>
                <div class="col-md-4">
                    <p class="form-control-static">
                        <small>Client's PayPal Reference Number</small>
                    </p>
                </div>
            </div>

            <div class="form-group">
                <input type="hidden" name="clientId" value="{{ client.clientId }}"/>
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary"
                            onclick="return confirm('Are you sure you want to register this payment reference?');">
                        Register Payment</button>
                </div>
            </div>
            {% endif %}

            <hr>
        {% endif %}

        {% if mode == 'edit' %}
            <div class="form-group">
                <input type="hidden" name="clientId" value="{{ client.clientId }}"/>

                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Save changes!</button>
                </div>
            </div>
        {% endif %}
    </form>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>


