<table>
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <td>
                    <a href="{{ path('harcam_triatlon_admin_client_view', {'id':client.clientId}) }}">
                        {{ client.getFullName() }}
                    </a>
                </td>
                <td>{{ client.email }}</td>
                <td>
                    <form action="{{ path('harcam_triatlon_admin_client_delete', {'id':client.clientId}) }}" method="post">
                        <input type="hidden" name="clientId" value="{{ client.clientId }}" />
                        <input type="submit" name="delete" value="Delete" />
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

