<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Administrador de Registro</title>

    <!-- Bootstrap core CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-static-top.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Registro Tritanes</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Todos</a></li>
                <li><a href="#about">Pagados</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('logout') }}">
                        <span class="glyphicon glyphicon-off"></span>
                    </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>


<div class="container">

    <table class="table">
        <thead>
        <tr>
            <th>Category</th>
            <th>Full Name</th>
            <th>Team</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Has Payed?</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.getCategoryName() }}</td>
                <td>
                    <a href="{{ path('harcam_triatlon_admin_client_view', {'id':client.clientId}) }}">
                        {{ client.getFullName() }}
                    </a>
                </td>
                <td>{{ client.team }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phoneNumber }}</td>
                <td>{% if client.hasPayed %}
                    <span class="label label-success">Si</span>
                {% else %}
                    <span class="label label-danger">No</span>
                {% endif %}
                </td>
                <td>
                    <form action="{{ path('harcam_triatlon_admin_client_delete', {'id':client.clientId}) }}" method="post">
                        <input type="hidden" name="clientId" value="{{ client.clientId }}" />
                        <button class="btn btn-xs" type="submit" name="delete">Delete</button>
                    </form>
                    
                    
                    {#Payment Override button#}

                    <span class="label label-danger">No</span>
                     {% endif %}
                    <form action="{{ path('harcam_triatlon_admin_client_changepaymentstatus', {'id':client.clientId}) }}" method="post">
                        <input type="hidden" name="clienthasPayed" value="{{ client.clientId  }}" />
                        <button class="btn btn-xs" type="submit" name="delete">Payment Status</button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</body>
</html>


