{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">

<div>
    <h3>Registro exitoso!</h3>
</div>

        <p>Recibirás un correo de confirmación de registro. Verifica tus datos antes de continuar con el pago.</p>

        <h4>Información de Registro</h4>
        <ul>
            <li><strong>Nombre:</strong> {{ client.getFullName() }}</li>
            <li><strong>Email:</strong> {{ client.email }}</li>
            <li><strong>Categoría:</strong> {{ client.category }} - {{ client.getCategoryName }}</li>
            <li><strong>Equipo:</strong> {% if client.team %}{{ client.team }}{% else %}No especificado{% endif %}</li>
            <li><strong>Tiempo en 100m:</strong> {% if client.swimTime %}{{ client.swimTime }} segundos{% else %}No especificado{% endif %}</li>
            <li><strong>Teléfono:</strong> {% if client.phoneNumber %}{{ client.phoneNumber }}{% else %}Ninguno{% endif %}</li>
        </ul>

        {# PayPal Payment Forms#}
        <form action="https://sandbox.paypal.com/cgi-bin/webscr" method="post" >
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="9S6TD9J4WCDXC">
            <input type="image" src="https://www.paypalobjects.com/en_US/MX/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>

</div>
<!-- end .content -->

{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}