{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">

<div>
    <h3>Registro exitoso!</h3>
</div>

        <p>Recibirás un correo de confirmación de registro. Verifica tus datos antes de continuar con el pago.</p>

        <h4>Información de Registro</h4>
        <ul>
            <li><strong>Nombre:</strong> {{ client.getFullName() }}</li>
            <li><strong>Email:</strong> {{ client.email }}</li>
            <li><strong>Categoría:</strong> {{ client.category }} - {{ client.getCategoryName }}</li>
            <li><strong>Equipo:</strong> {% if client.team %}{{ client.team }}{% else %}No especificado{% endif %}</li>
            <li><strong>Tiempo en 100m:</strong> {% if client.swimTime %}{{ client.swimTime }} segundos{% else %}No especificado{% endif %}</li>
            <li><strong>Teléfono:</strong> {% if client.phoneNumber %}{{ client.phoneNumber }}{% else %}Ninguno{% endif %}</li>
        </ul>
        
        {#Instrucciones para registro#}
        <p>Para continuar con tu registro es necesario que realices el pago. Éste lo puedes realizar a través de PayPal,
        herramienta con la cual puedes pagar con tarjeta o con crédito de Paypal usando tu respectiva cuenta.</p>
        <p>Para acceder al sistema de pago, porfavor da click en el siguiente botón:</p>
        
        <p>El costo del triatlón se desglosa de la siguiente manera</p>
        <table>
            <tr>
                <th>Concepto</th>
                <th>Costo</th>
            </tr>
            <tr>
                <td>Triatlón</td>
                <td>$450 MXN</td>
            </tr>
            <tr>
                <td>Seguro y comisión de pago con tarjeta</tr>
                <td>$80 MXN</td>
            </tr>
            
        </table>
        {# PayPal Payment Forms#}    
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="9S6TD9J4WCDXC">
            <input type="image" src="https://www.paypalobjects.com/es_XC/MX/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        
    <p><strong>La confirmación de tu registro se enviará en el transcurso de la semana!</strong></p>
</div>
<!-- end .content -->

{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}