{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">

<div id="instrucciones">
    <h1>Instrucciones para el registro del triatlón</h1>
    <p>Para el registro del triatlón Tritanes, sigue los siguientes pasos:
        <ol>
            <li>Llena los datos solicitados en el siguiente formulario. Recuerda que tu número de afiliación a la FMTRI (Federación Mexicana de Triatlón) consta de 11 dígitos.</li>
            <li>Presiona “Registrar” y en poco tiempo recibirás un correo de confirmación con tus datos.</li>
            <li>Realiza el pago en cualquier tienda OXXO, o directamente en bancos SANTANDER(Presencial o Transferencia) a la cuenta:</li>
                <ul>
                    <li><strong>No Cuenta:</strong> 2000842671</li>
                    <li><strong>CLABE:</strong>014580200084262714</li>
                </ul>
                <p>Es importante que guardes los datos de la transacción:</p>
                <ul>
                    <li><strong>Santander:</strong>Número de referencia de pago (tanto en depósito como en transferencia electrónica)</li>
                    <li><strong>OXXO:</strong> Folio de Venta y Autorización</li>
                </ul>
            <li>Entra en la página de triatlonafondo.com a la sección Confirmar Pago, que se encuentra en Triatlón Tritanes del menú principal y proporciona los siguientes datos:</li>
            <ol>
                <li>Email usado en el registro</li>
                <li>Tipo de pago (Transferencia, Depósito, Pago en Oxxo)</li>
                <li>Número de autorización (Sólo para Oxxo)</li>
                <li>Número de Folio de venta (Sólo para Oxxo)</li>
                <li>Referencia de pago (Depósito o Transferencia)</li>
            </ol>
            <li>En el transcurso de unos días recibirás un correo de confirmación con tu número de competidor.</li>
        </ol>
</p>
    
</div>

    <div>
        <h1>Registro</h1>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.distance) }}
        {{ form_errors(form.distance) }}
        {{ form_widget(form.distance) }}
    </div>

    <div>
        {{ form_label(form.category) }}
        {{ form_errors(form.category) }}
        {{ form_widget(form.category) }}
    </div>

    <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div>
        {{ form_label(form.lastName) }}
        {{ form_errors(form.lastName) }}
        {{ form_widget(form.lastName) }}
    </div>

    <div>
        {{ form_label(form.affiliationNumber) }}
        {{ form_errors(form.affiliationNumber) }}
        {{ form_widget(form.affiliationNumber) }}
    </div>

    <div>
        {{ form_label(form.team) }}
        {{ form_errors(form.team) }}
        {{ form_widget(form.team) }}
    </div>

    <div>
        {{ form_label(form.phoneNumber) }}
        {{ form_errors(form.phoneNumber) }}
        {{ form_widget(form.phoneNumber) }}
    </div>

    <div>
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>

    <div>
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}

</div>
<!-- end .content -->

{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}