{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">

    <div>
        <h1>Bienvenido al registro del Triatlón Tritanes</h1>
    </div>

    {% if error is defined %}
        {% if error == 1 %}
        <p style="color:red !important;">Favor de introducir tu nombre.</p>
        {% elseif error == 2 %}
        <p style="color:red !important;">Favor de introducir tu apellido.</p>
        {% elseif error == 3 %}
        <p style="color:red !important;">Favor de introducir un correo válido.</p>
        {% elseif error == 4 %}
        <p style="color:red !important;">Favor de seleccionar una categoría.</p>
        {% elseif error == 5 %}
        <p style="color:red !important;">Favor de introducir un tiempo de nado válido.</p>
        {% endif %}
    {% endif %}

    <p>Por favor ingresa tus datos y al terminar presiona el botón "Inscribir".</p>
    <p><small>Nota: Los campos (*) son obligatorios.</small></p>

    <form id="form" class="pure-form pure-form-aligned"
          action="{{ path('harcam_triatlon_signup_process') }}" method="post">

        <fieldset>
            <div class="pure-control-group">
                <label for="name"><strong>Nombre*</strong></label>
                {% if mode == 'edit' %}
                    <input id="name" name="name" type="text" placeholder="Nombre"
                        {% if data is defined %} value="{{ data.name }}" {% endif %}
                    >
                {% else %}
                    <p>{{ client.name }}</p>
                {% endif %}
            </div>

            <div class="pure-control-group">
                <label for="lasName"><strong>Apellidos*</strong></label>
                {% if mode == 'edit' %}
                    <input id="lastName" name="lastName" type="text" placeholder="Apellidos"
                        {% if data is defined %} value="{{ data.lastName }}" {% endif %}
                    >
                {% else %}
                    <p>{{ client.lastName }}</p>
                {% endif %}
            </div>
            
            <div class="pure-control-group">
                <label for="email"><strong>E-mail*</strong></label>
                {% if mode == 'edit' %}
                    <input id="email" name="email" type="email" placeholder="usuario@ejemplo.com"
                        {% if data is defined %} value="{{ data.email }}" {% endif %}
                    >
                {% else %}
                    <p>{{ client.email }}</p>
                {% endif %}
            </div>

            <div class="pure-control-group">
                <label for="category"><strong>Categoría*</strong></label>
                <select id="category" name="category">
                    <option value="">- Selecciona una categoría -</option>
                    <option value="IF" {% if data is defined and data.category == 'IF' %}selected{% endif %}
                            >Femenil 14 a 15 años</option>
                    <option value="JF">Femenil 16 a 19 años</option>
                    <option value="R">Femenil 20 a 24 años</option>
                    <option value="O">Femenil 25 a 29 años</option>
                    <option value="P">Femenil 30 a 34 años</option>
                    <option value="Q">Femenil 35 a 39 años</option>
                    <option value="R">Femenil 40 a 44 años</option>
                    <option value="S">Femenil 45 a 49 años</option>
                    <option value="T">Femenil 50 a 54 años</option>
                    <option value="V">Femenil 55 a 59 años</option>
                    <option value="IC">Varonil 14 a 15 años</option>
                    <option value="JV">Varonil 16 a 19 años</option>
                    <option value="A">Varonil 20 a 24 años</option>
                    <option value="B">Varonil 25 a 29 años</option>
                    <option value="C">Varonil 30 a 34 años</option>
                    <option value="D">Varonil 40 a 44 años</option>
                    <option value="E">Varonil 45 a 49 años</option>
                    <option value="F">Varonil 50 a 54 años</option>
                    <option value="G">Varonil 55 a 59 años</option>
                    <option value="H">Varonil 60 y mayores</option>
                </select>
            </div>

            <div class="pure-control-group">
                <label for="team">Equipo</label>
                <input id="team" name="team" type="text" placeholder="Equipo"
                {% if data is defined %} value="{{ data.team }}" {% endif %}
                    >
                {% else %}
                    <p>{{ client.team }}</p>
                {% endif %}
            </div>

            <div class="pure-control-group">
                <label for="swimTime">Tiempo aproximado para 100m de nado</label>
                <input id="swimTime" name="swimTime" type="text" placeholder="mm:ss"
                       {% if data is defined %} value="{{ data.swimTime }}" {% endif %}
                    >
                {% else %}
                    <p>{{ client.swimTime }}</p>
                {% endif %}
            </div>

            <div class="pure-control-group">
                <label for="phoneNumber">Teléfono de Contacto</label>
                <input id="phoneNumber" name="phoneNumber" type="text" placeholder=""
                       {% if data is defined %} value="{{ data.phoneNumber }}" {% endif %}
                    >
                {% else %}
                    <p>{{ client.phoneNumber }}</p>
                {% endif %}
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Inscribir</button>
            </div>
        </fieldset>
    </form>


</div>
<!-- end .content -->

{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}