{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">

    <div>
        <h1>Bienvenido al registro del Triatlón Tritanes</h1>
    </div>
        <img class="contentImage" src="{{ asset('bundles/harcamtriatlon/img/TT_BLANCO.jpg') }}"/>
        <p>Para consultar la convocatoria de la segunda edición del triatlón tritanes, haz click <a class="pageLink" href="{{ asset('bundles/harcamtriatlon/img/Convocatoria.pdf') }}">aquí</a></p>
    
    
        <p><strong>Si te registraste previamente y no realizaste el pago, puedes realizarlo mediante el botón de pago proporcionado
        en el correo de registro!</strong></p>
    {% if error is defined %}
        {% if error == 1 %}
        <p style="color:red !important;">Favor de introducir tu nombre.</p>
        {% elseif error == 2 %}
        <p style="color:red !important;">Favor de introducir tu apellido.</p>
        {% elseif error == 3 %}
        <p style="color:red !important;">Favor de introducir un correo válido.</p>
        {% elseif error == 4 %}
        <p style="color:red !important;">Favor de seleccionar una categoría.</p>
        {% elseif error == 5 %}
        <p style="color:red !important;">Favor de introducir un tiempo de nado válido.</p>
        {% endif %}
    {% endif %}

    <p>Por favor ingresa tus datos y al terminar presiona el botón "Inscribir".</p>
    <p><small>Nota: Los campos (*) son obligatorios.</small></p>

    <form id="form" class="pure-form pure-form-aligned"
          action="{{ path('harcam_triatlon_signup_process') }}" method="post">

        <fieldset>
            <div class="pure-control-group">
                <label for="name"><strong>Nombre*</strong></label>
                    <input id="name" name="name" type="text" placeholder="Nombre"
                        {% if data is defined %} value="{{ data.name }}" {% endif %}
                    >
            </div>

            <div class="pure-control-group">
                <label for="lasName"><strong>Apellidos*</strong></label>
                    <input id="lastName" name="lastName" type="text" placeholder="Apellidos"
                        {% if data is defined %} value="{{ data.lastName }}" {% endif %}
                    >
            </div>
            
            <div class="pure-control-group">
                <label for="email"><strong>E-mail*</strong></label>
                    <input id="email" name="email" type="email" placeholder="usuario@ejemplo.com"
                        {% if data is defined %} value="{{ data.email }}" {% endif %}
                    >
            </div>

            <div class="pure-control-group">
                <label for="category"><strong>Categoría*</strong></label>
                <select id="category" name="category">
                    <option value="">- Selecciona una categoría -</option>
                    <option value="IF" {% if data is defined and data.category == 'IF' %}selected{% endif %}
                            >Femenil 14 a 15 años</option>
                    <option value="JF" {% if data is defined and data.category == 'JF' %}selected{% endif %}
                            >Femenil 16 a 19 años</option>
                    <option value="N" {% if data is defined and data.category == 'N' %}selected{% endif %}
                            >Femenil 20 a 24 años</option>
                    <option value="O" {% if data is defined and data.category == 'O' %}selected{% endif %}
                            >Femenil 25 a 29 años</option>
                    <option value="P" {% if data is defined and data.category == 'P' %}selected{% endif %}
                            >Femenil 30 a 34 años</option>
                    <option value="Q" {% if data is defined and data.category == 'Q' %}selected{% endif %}
                            >Femenil 35 a 39 años</option>
                    <option value="R" {% if data is defined and data.category == 'R' %}selected{% endif %}
                            >Femenil 40 a 44 años</option>
                    <option value="S" {% if data is defined and data.category == 'S' %}selected{% endif %}
                            >Femenil 45 a 49 años</option>
                    <option value="T" {% if data is defined and data.category == 'T' %}selected{% endif %}
                            >Femenil 50 a 54 años</option>
                    <option value="V" {% if data is defined and data.category == 'V' %}selected{% endif %}
                            >Femenil 55 a 59 años</option>
                    <option value="IC"{% if data is defined and data.category == 'IC' %}selected{% endif %}
                            >Varonil 14 a 15 años</option>
                    <option value="JV"{% if data is defined and data.category == 'JV' %}selected{% endif %}
                            >Varonil 16 a 19 años</option>
                    <option value="A" {% if data is defined and data.category == 'A' %}selected{% endif %}
                            >Varonil 20 a 24 años</option>
                    <option value="B" {% if data is defined and data.category == 'B' %}selected{% endif %}
                            >Varonil 25 a 29 años</option>
                    <option value="C" {% if data is defined and data.category == 'C' %}selected{% endif %}
                            >Varonil 30 a 34 años</option>
                    <option value="D" {% if data is defined and data.category == 'D' %}selected{% endif %}
                            >Varonil 35 a 39 años</option>
                    <option value="E" {% if data is defined and data.category == 'E' %}selected{% endif %}
                            >Varonil 40 a 44 años</option>
                    <option value="F" {% if data is defined and data.category == 'F' %}selected{% endif %}
                            >Varonil 45 a 49 años</option>
                    <option value="G" {% if data is defined and data.category == 'G' %}selected{% endif %}
                            >Varonil 50 a 55 años</option>
                    <option value="H" {% if data is defined and data.category == 'H' %}selected{% endif %}
                            >Varonil 55 a 59</option>
                    <option value="I" {% if data is defined and data.category == 'H' %}selected{% endif %}
                            >Varonil 60 y mayores</option>
                </select>
            </div>

            <div class="pure-control-group">
                <label for="team">Equipo</label>
                <input id="team" name="team" type="text" placeholder="Equipo"
                {% if data is defined %} value="{{ data.team }}" {% endif %}
                    >
            </div>

            <div class="pure-control-group">
                <label for="swimTime">Tiempo aproximado para 100m de nado</label>
                <input id="swimTime" name="swimTime" type="text" placeholder="mm:ss"
                       {% if data is defined %} value="{{ data.swimTime }}" {% endif %}
                    ><p class="ejemplo">Ejemplo: 01:30</p>
            </div>

            <div class="pure-control-group">
                <label for="phoneNumber">Teléfono de Contacto</label>
                <input id="phoneNumber" name="phoneNumber" type="text" placeholder=""
                       {% if data is defined %} value="{{ data.phoneNumber }}" {% endif %}
                    >
            </div>
            
            <div class="pure-control-group">
                <label for="birthDate">Fecha de Nacimiento</label>
                <input id="phoneNumber" name="phoneNumber" type="date" placeholder="dd/mm/aaaa"
                       {% if data is defined %} value="{{ data.birthDate }}" {% endif %}
                    >
            </div>

            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary">Inscribir</button>
            </div>
        </fieldset>
    </form>

</div>
<!-- end .content -->

{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}