{{ include('HarcamTriatlonBundle:Layout:header.html.twig') }}
{{ include('HarcamTriatlonBundle:Layout:sidebar.html.twig') }}

<!-- start .content -->
<div class="content">

    <div>
        <h1>Registro</h1>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    <div>
        {{ form_label(form.distance) }}
        {{ form_errors(form.distance) }}
        {{ form_widget(form.distance) }}
    </div>

    <div>
        {{ form_label(form.category) }}
        {{ form_errors(form.category) }}
        {{ form_widget(form.category) }}
    </div>

    <div>
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>

    <div>
        {{ form_label(form.lastName) }}
        {{ form_errors(form.lastName) }}
        {{ form_widget(form.lastName) }}
    </div>

    <div>
        {{ form_label(form.phoneNumber) }}
        {{ form_errors(form.phoneNumber) }}
        {{ form_widget(form.phoneNumber) }}
    </div>

    <div>
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>

    <div>
        {{ form_widget(form.save) }}
    </div>

    {{ form_end(form) }}

    <!-- PayPal Logo -->
    <table border="0" cellpadding="10" cellspacing="0" align="center">
        <tr><td align="center"></td></tr>
        <tr><td align="center">
                <a href="https://www.paypal.com/webapps/mpp/paypal-popup" title="How PayPal Works"
                   onclick="javascript:window.open('https://www.paypal.com/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
                    <img src="https://www.paypalobjects.com/webstatic/mktg/logo/AM_SbyPP_mc_vs_dc_ae.jpg" border="0" alt="PayPal Acceptance Mark">
                </a>
            </td></tr>
    </table>
    <!-- PayPal Logo -->

</div>
<!-- end .content -->

{{ include('HarcamTriatlonBundle:Layout:footer.html.twig') }}